@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@900&display=swap');

:root {
    --color-main: rgb(9, 145, 120);
    --color-light-gray: rgb(232, 232, 232);
    --color-dark-gray: rgb(38, 50, 56);
    --font-size: 18px;
}

html {
    background: var(--color-light-gray);
    font-size: var(--font-size);
    font-family: 'Noto Sans SC', sans-serif;
}

/* Typography */

p {
    font-size: 1em;
    margin: var(--font-size);
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
    margin: var(--font-size);
}

h3, h4 {
    font-family: 'Noto Sans SC', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}


/* Navigation Header */

nav {
    background: var(--color-main);
    width: 100%;
    text-align: center;
}

nav a {
    padding: 1em;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: white;
    color: var(--color-main);
}

/* Page Layout */

.page {
    background: white;
    margin: 1em auto;
    padding: 1em;
    max-width: 1200px;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

@media screen and (max-width: 960px) {

    .page {
        width: 100%;
    }

    .column {
        width: 100%;
    }

}
