@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@900&display=swap');

:root {
    --color-main: rgb(9, 145, 120);
    --color-accent: rgb(255, 79, 152);
    --color-light-gray: rgb(232, 232, 232);
    --color-dark-gray: rgb(38, 50, 56);
    --font-size: 18px;
    --color-empty: var(--color-light-gray);
    --color-data: var(--color-main);
    --color-highlight: var(--color-accent);
    --color-success: rgb(9, 145, 120);
    --color-failure: rgb(204, 102, 119);
}

html {
    background: var(--color-light-gray);
    font-size: var(--font-size);
    font-family: 'Noto Sans SC', sans-serif;
}

/* Typography */

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.spacer {
    margin: 0 1em;
}

.nowrap {
    white-space: nowrap;
}

p {
    font-size: 1em;
    line-height: 1.35em;
    margin: var(--font-size);
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
    line-height: 1.25em;
    margin: var(--font-size);
}

h3, h4 {
    font-family: 'Noto Sans SC', sans-serif;
    line-height: 1.25em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

select, option {
    font-size: 1em;
}

/* Navigation Header */

nav {
    box-sizing: border-box;
    background: var(--color-main);
    width: 100%;
    text-align: center;
}

nav a {
    padding: 1em;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: white;
    color: var(--color-main);
}

/* Display */

.hidden {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

/* Page Layout */

.page {
    box-sizing: border-box;
    background: white;
    margin: 1em auto;
    padding: 1em;
    max-width: 1200px;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

@media screen and (max-width: 960px) {

    .page {
        width: 100%;
    }

    .column {
        width: 100%;
    }

}

@media screen and (max-width: 960px) {
    
    .recharts-responsive-container {
        width: 100% !important;
    }

}

.medium-width {
    margin: 0 auto;
    max-width: 650px;
}

/* Data Explorer Previews */

.PreviewImage {
    box-sizing: border-box;
    padding: 1em;
    display: inline-block;
}

.PreviewImage img {
    width: 100%;
}

/* Map */

.CommunityArea {
    fill: var(--color-data);
    stroke: white;
    stroke-width: 1;
}

.NoData .CommunityArea {
    fill: var(--color-empty);
}

.CommunityArea:hover {
    cursor: pointer;
}

.CommunityArea:hover, .CommunityArea.Selected {
    fill: var(--color-highlight);
    stroke: var(--color-highlight);
    stroke-width: 2;
    z-index: 2;
}

/* Forms */

.SelectorContainer {
    margin: var(--font-size);
}

.SelectorContainer .MetricSelector {
    display: inline-block;
    padding: 0.5em 0;
    padding-right: 1em;
}

.SearchableMetricSelector {
    display: inline-block;
    padding: 0.5em 0;
    padding-right: 1em;
}

.SearchableMetricSelector .SelectorModal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchableMetricSelector .modal-content {
    width: 500px;
    background-color: white;
}

.SearchableMetricSelector .modal-body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.SearchableMetricSelector .modal-header, 
.SearchableMetricSelector .modal-footer {
    padding: 10px
}



button {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1em;
}

select {
    box-sizing: border-box;
    padding: 0.1em;
}

select:hover {
    cursor: pointer;
}

.btn {
    box-sizing: border-box;
    padding: 0.5em;
    height: 2em;
    line-height: 0.75em;
    vertical-align: middle;
}

.btn:hover {
    cursor: pointer;
}

.btn.primary {
    background: var(--color-main);
    border: 2px solid var(--color-main);
    color: white;
}

.btn.primary:hover {
    background: var(--color-highlight);
    border: 2px solid var(--color-highlight);
}

.btn.secondary {
    background: transparent;
    color: var(--color-main);
    border: 2px solid var(--color-main);
}

.btn.secondary:hover {
    background: var(--color-main);
    color: white;
    border: 2px solid var(--color-main);
}

a.btn {
    margin: 1em;
    text-decoration: none;
}

/* Plots */

.PlotRow div {
    display: inline-block;
    vertical-align: top;
}

.CustomToolTip {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--color-light-gray);
}

.recharts-symbols {
    fill: var(--color-data);
}

.recharts-symbols:hover {
    cursor: pointer;
}

.recharts-symbols:hover, .recharts-symbols.selected {
    fill: var(--color-highlight);
    stroke: var(--color-highlight);
    stroke-width: 10;
    z-index: 2;
    opacity: 0.9;
}

/* Scatter Explorer */

.ScatterMap .MapLabel {
    max-width: 325px;
}

/* Timeline Explorer */

.TimelineMetrics {
    margin: 1em;
}

.TimelineMetrics .MetricEditor {
    display: block;
    margin: 0.5em 0;
}

.TimelineMetrics .ColorSelector,
.TimelineMetrics .AxisSelector,
.TimelineMetrics .RemoveMetric {
    margin-right: 1em;
}

.TimelineMetrics .RemoveMetric:hover {
    cursor: pointer;
}

.TimelineMetrics .MetricSelector select,
.TimelineMetrics .MetricSelector button {
    margin: 0.5em 0;
}

.TimelineMetrics .MetricSelector select {
    height: 2em;
    line-height: 2em;
    margin-right: 0.5em;
}

@media screen and (max-width: 500px) {
    
    .TimelineMetrics .MetricSelector select {
        width: 100%;
    }

}

.TimelineMetrics .MetricSelector {
    display: inline-block;
    vertical-align: middle;
}

.TimelineMetrics .ColorSelector input {
    box-sizing: border-box;
    appearance: auto;
    border: none;
    padding: 0;
    height: 2.5em;
    width: 5em;
    vertical-align: middle;
}

/* Tables */

.TableContainer {
    width: 100%;
    overflow-x: scroll;
}

.TableContainer table {
    margin: 0 auto;
}

.TableContainer th, .TableContainer td {
    padding: 0.5em;
    text-align: left;
}

.TableContainer th {
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.TableContainer .Cell.right {
    text-align: right;
}

.TableContainer .GroupHeader {
    text-align: center;
    border: none;
}

.TableContainer tbody tr {
    cursor: pointer;
    border: 1px solid transparent;
}

.TableContainer tbody tr:hover{
    border: 1px solid black;
}

.TableContainer tbody tr:hover td {
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.TableContainer .SortArrow {
    display: none;
    margin-left: 0.5em;
}

.TableContainer .Sorted .SortArrow {
    display: inline;
}

/* Notifications */

.Notification {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 1em;
    padding: 0.25em;
}

.Notification.Narrow {
    width: 200px;
}

.Notification.Wide {
    width: 650px;
}

@media screen and (max-width: 350px) {
    
    .Notification {
        width: 200px;
    }

}

.Notification .CloseHolder {
    position: relative;
}

.Notification .Close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    opacity: 0.5;
}

.Notification .Close:hover {
    cursor: pointer;
    opacity: 1.0;
}

.Notification.Bottom {
    position: fixed;
    left: 50%;
    bottom: 1em;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 100;
}

.Notification.hidden {
    opacity: 0;
}

.Notification.Success {
    border: 1px solid var(--color-success);
}

.Notification.Failure {
    border: 1px solid var(--color-failure);
}

@keyframes FadeOut {
    0% { opacity: 1; }
    99% { opacity: 0.01; }
    100% { opacity: 0; }
}

@-webkit-keyframes FadeOut {
    0% { opacity: 1; }
    99% { opacity: 0.01; }
    100% { opacity: 0; }
}

@keyframes FadeIn {
    0% { opacity: 0; }
    99% { opacity: 0.99; }
    100% { opacity: 1; }
}

@-webkit-keyframes FadeIn {
    0% { opacity: 0; }
    99% { opacity: 0.99; }
    100% { opacity: 1; }
}

.Notification.FadeOut {
    animation: FadeOut 1s;
    -webkit-animation: FadeOut 1s;
    animation-fill-mode: forwards;
}

.Notification.FadeIn {
    animation: FadeIn 1s;
    -webkit-animation: FadeIn 1s;
    animation-fill-mode: forwards;
}

/* Questions Page */

.QuestionsSection {
    display: inline-block;
    margin-bottom: 1em;
    text-align: center;
}

.QuestionPreview {
    box-sizing: border-box;
    margin: 1.5em 0.5em;
    width: 340px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.QuestionLayout hr {
    display: inline-block;
    width: 50%;
    border-top: 1px dashed var(--color-light-gray);
    margin: 1em;
    
}

/* Specific Question Pages */

.QuestionPooledTrips .recharts-legend-item {
    line-height: 1.5em;
}
