.Home .page {
    text-align: center;
}

.Home .CommunityArea {
    fill: var(--color-dark-gray);
}

.Home .CommunityArea:hover {
    cursor: pointer;
    fill: var(--color-main);
    stroke: var(--color-main);
    stroke-width: 2;
}

.Home .CommunityArea.Selected {
    fill: var(--color-main);
    stroke: var(--color-main);
    stroke-width: 2;
    z-index: 2;
}