.ChicagoMap .CommunityArea {
    fill: var(--color-main);
}

.CommunityArea:hover {
    cursor: pointer;
    stroke: var(--color-main);
    stroke-width: 2;
}

.CommunityArea.Selected {
    stroke: var(--color-main);
    stroke-width: 2;
}